* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling:touch;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.header
{margin-left:6%;
padding-top:5%;
padding-bottom:2%;}

.modal
{
  box-sizing: border-box;
  /* width:31%; */
width:340px;
 height:369px;
  float:left;
  display: none;
  margin-left: 8%;
  margin-right: 5%;
  margin-top: 7%;

background: red;
margin-top: 11%;

text-align: center;}

#loginwindow
{display:inline-block;}

#login
{display: none;}

.text
{
float:left;
margin-left: 6%;
/* width: 22%; */
margin-top: 3%;
text-align:left;

}


.text
{width:330px;}


@media screen and (max-width: 990px) {



  .modal
  {

    float:right;
    margin-right: 6%;
    margin-top: 7%;
}

.text
{margin-top: 7%;
  line-height: 1.4;
  font-size: 19px;}

.header
{text-align: center;}
}



@media screen and (max-width: 843px) {



  .modal, .text
  {

    width:320px;


}

.modal
{margin-left:2%;}
}

/* .text
{font-size:16px;
line-height:1.5;}


} */

/* @media screen and (max-width: 745px) {



  .modal
  {

    width:250px;


}

.text
{width:270px;}
} */


@media screen and (max-width: 645px) {



  .modal
  {

    margin-left: 45%;
    float: left;

}


}

@media screen and (max-width: 634px) {



  .modal
  {

    margin-left: 40%;

}


}


@media screen and (max-width: 624px) {



  .modal
  {

    margin-left: 35%;

}


}


@media screen and (max-width: 424px) {



  .modal
  {

    margin-left: 9%;

}


}





::-webkit-input-placeholder {color:#c0392b;width:500px;}
::-moz-placeholder          {color:#c0392b;width:500px;}
:-moz-placeholder           {color:#c0392b;width:500px;}
:-ms-input-placeholder      {color:#c0392b;width:500px;}

#idvaluer
{width:220px;
margin-bottom: 10px;}

.logos
{display: block;
margin-right: 6%;
margin-left:6%;
margin-top: 3%;
margin-bottom:2%;
}

.logos::after
{content: "";
display: table;
clear:both;}


#btn1
{
display: none;}

.cont
{display: block;
}

.cont::after
{
  clear: both;
  content:"";
  display: table;
}

.text p
{margin-bottom: 10px;}


.modal button
{margin-top: 260px;

}

#btn0,#btn1
{margin-top:230px;}

.logoicon
{width: 5%;
float: left;
margin-right: 5px;}

.logoiconrg
{width: 5%;
float: right;
margin-right: 5px;}

#lastimg
{margin-right: 0;}


@media screen and (max-width: 990px) {

  .logoicon
  {width: 7%;
  float: left;
  margin-right: 5px;}

  .logoiconrg
  {width: 7%;
  float: right;
  margin-right: 5px;}




}



.pml,.pmlr
{width:30%;
margin-left:3%;
float:left;
margin-top:20px;}

.pmlicon
{width:40%;}

.footer
{text-align: center;}
